<a href="https://colab.research.google.com/github/kesnaaa/tugas_python/blob/main/variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable

Sesuai dengan namanya, variable adalah sesuatu yang dapat berubah. Variabel ininii digunakan untuk merujuk menuju lokasi memori oleh proprogramgram koprogram
Pada sebagian besar bahasa lain, Anda perlu menetapkan tipe data terhadap suatu variabel. Namun, hal itu tidak perlu dilakukan pada bahasa pemrograman python. Sebagai contoh, jika Anda menulis program dengan menggunakan bahasa C, maka sintaks yang harus anda tulis adalah int num = 39; Dengan Python Anda hanya cukup menuliskan num = 39.
Untuk memeriksanya, Anda dapat membuka Jupyter notebook atau Python Shell, lalu lakukan langkah demi langkah perintah di bawah ini:

**integer**

Integer adalah angka numerik yang dapat berupa nilai positif, negatif, atau nol tanpa memiliki angka desimal

In [ ]:

num = 39
print(num)
39
type(num)

39

int

**Float**
Float adalah angka numerik sama seperti integer , namun ada sedikit perbedaan, yaitu adanya angka desimal

In [ ]:
num = 39.0
print(num)
39.0
type(num)

39.0

float

**String**
String adalah kumpulan beberapa karakter atau integer. String tersebut direpresentasikan dengan menggunakan tanda quotes (double ataupun single).

In [ ]:
test = "Hallo semua"
print(test )
"Hallo semua"
type(test )

Hallo semua

str

**Boolean**
Boolean adalah operator biner yang hanya memiliki dua nilai output yaitu True atau False

In [ ]:

anda_robot = False
print(anda_robot)
"False"
type(anda_robot)

False

bool

**NoneType**
NoneType digunakan ketika variable tidak memiliki nilai, seperti pada contoh di bawah ini:

In [ ]:
num = None
print(num)
"None"
type(num)

None

NoneType